/* Products Section */
.product-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 200px;
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
}

.product-item p {
    margin-top: 10px;
    font-size: 1em;
}

#products {
    padding: 35px;
    text-align: center;
}